:root {
  --primary-color: #171717;
  --branding-color: #441211;
  --secondary-color: #f4f4f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  padding: 1rem;
  background: var(--primary-color);
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand a {
  font-size: 1.4rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.navbar__brand a:hover {
  color: var(--branding-color);
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.links-links a {
  display: block;
  padding: 1rem;
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  font-size: 20px;
}

.links-links a:hover {
  border-bottom: 1px solid varvar(--branding-color);
  color: var(--branding-color);
}

/* Searchbar styles */
.searchbar {
  width: 100%;
  margin: 2rem 0;
}

.searchbar_form > input {
  width: 100%;
  padding: 10px 17px;
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  outline-width: 0ch;
}

.searchbar_form > input:focus {
  border: 1px solid var(--branding-color);
  box-shadow: 0 0 1px 1px
    radial-gradient(
      circle at 50.4% 50.5%,
      rgb(251, 32, 86) 0%,
      rgb(135, 2, 35) 90%
    );
}

.btn {
  padding: 10px 17px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--secondary-color);
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: var(--branding-color);
}

.btn-block {
  display: block;
  width: 100%;
}

/* Alert Styles */
.alert {
  padding: 10px 17px;
  font-size: 20px;
  border: 1px solid var(--primary-color);
  margin: 1rem 0;
}

.alert-warning {
  background: #f8ffc4;
  color: 1px solid #ffee00;
}

.alert-danger {
  background: #ffc4c4;
  color: 1px solid #ff0000;
}

.alert-info {
  background: #d7eafe;
  color: 1px solid #0523b7;
}
